:root {
    --highlight: #5756e6;
}
* {
    box-sizing: border-box;
}
.search-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2C3441;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}

.search-box:hover > input{
    width: 300px;
    padding: 0 5px;
}

.search-box:hover >icon{
    background: #536179;
}

.icon:hover{
    transform: rotate(360deg) scale(0.8);
}

input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 30px;
    color: #fff;
}

.icon{
    color: #21DFCD;
    float: right;
    width: 30px;
    font-size: 1.3rem;
    height: 30px;
    border-radius: 50%;
    background: #2F3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
}